<footer class="footer text-center bg-dark mt-auto p-3">
    <div class="container text-light">
        <span">&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> HarshitRV</span>
    </div>
</footer>