<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= status %></h4>
            <p><%= message %> </p>

            <% if(process.env.NODE_ENV !== 'production'){ %> 
                <hr>
                <p class="mb-0"><%= err.stack %> </p>
            <% } %> 
          </div>
    </div>
</div>